<h2>退会確認画面</h2>

<p>以下のアカウントを退会しますか？</p>

<p>氏名: <%= @customer.full_name %></p>
<p>カナ: <%= @customer.full_name_kana %></p>
<p>メールアドレス: <%= @customer.email %></p>

<%= link_to "キャンセル", public_customer_path %>
<%= button_to "退会する", public_customers_withdrawal_path, method: :patch, data: { confirm: "本当に退会しますか？" }, class: "withdrawal-button" %>
