<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">商品編集</h2>
        </div>

        <%= form_with(model: @item, url: admin_item_path(@item), method: :patch, local: true) do |f| %>
          <div class="card-body">
            <div class="form-group row">
              <div class="col-sm-4">
                <%= f.label :image, "商品画像" %>
              </div>
              <div class="col-sm-8">
                <%= f.file_field :image, class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-4">
                <%= f.label :name, "商品名" %>
              </div>
              <div class="col-sm-8">
                <%= f.text_field :name, class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-4">
                <%= f.label :introduction, "商品説明" %>
              </div>
              <div class="col-sm-8">
                <%= f.text_area :introduction, class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-4">
                <%= f.label :price, "税抜価格" %>
              </div>
              <div class="col-sm-8 d-flex align-items-center">
                <%= f.number_field :price, class: "form-control" %>
                <span class="ml-2">円</span>
              </div>
            </div>

            <div class="text-center">
              <%= f.submit "変更を保存", class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

