<h2>顧客詳細</h2>

<p><strong>会員ID:</strong> <%= @customer.id %></p>
<p><strong>氏名:</strong> <%= "#{@customer.last_name} #{@customer.first_name}" %></p>
<p><strong>ふりがな:</strong> <%= "#{@customer.last_name_kana} #{@customer.first_name_kana}" %></p>
<p><strong>郵便番号:</strong> <%= @customer.postal_code %></p>
<p><strong>住所:</strong> <%= @customer.address %></p>
<p><strong>電話番号:</strong> <%= @customer.telephone_number %></p>
<p><strong>メールアドレス:</strong> <%= @customer.email %></p>

<%= link_to '編集', edit_admin_customer_path(@customer), class: 'btn btn-primary' %>
<%= link_to '注文履歴一覧', admin_root_path(customer_id: @customer.id), class: 'btn btn-success' %>