<div class="container">
  <h1>注文情報確認</h1>

  <div class="row">
    <div class="col-md-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% sum = 0 %>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= image_tag cart_item.item.image.variant(resize: "100x100") if cart_item.item.image.attached? %>
                <%= cart_item.item.name %>
              </td>
              <td><%= cart_item.item.with_tax_price %></td>
              <td><%= cart_item.quantity %></td>
              <td><%= cart_item.subtotal %></td>
              <% sum += cart_item.item.with_tax_price * cart_item.quantity %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>商品合計</th>
            <td><%= @cart_items.sum { |cart_item| cart_item.item.with_tax_price * cart_item.quantity } %> 円</td>
          </tr>
          <tr>
            <th>送料</th>
            <td><%= @shipping_fee %> 円</td>
          </tr>
          <tr>
            <th>請求金額合計</th>
            <td><%= @cart_items.sum { |cart_item| cart_item.item.with_tax_price * cart_item.quantity } + @shipping_fee %> 円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <%= form_with model: @order, url: public_orders_path, method: :post do |f| %>
  <p><strong>支払い方法</strong>  <%= @order.payment_method == 'credit_card' ? 'クレジットカード' : '銀行振込' %></p>


    <p><strong>お届け先</strong> 郵便番号:<%= current_customer.postal_code %></p>
    <p>住所:   <%= current_customer.address %></p>
    <p>氏名:   <%= current_customer.full_name %></p>


    <%= f.hidden_field :customer_id, :value => current_customer.id %>
    <%= f.hidden_field :total_amount, :value => sum + @shipping_fee %>
    <%= f.hidden_field :shipping_address, :value => @order.shipping_address %>
    <%= f.hidden_field :shipping_name, :value => @order.shipping_name %>
    <%= f.hidden_field :shipping_postal_code, :value => @order.shipping_postal_code %>
    <%= f.hidden_field :shipping_fee, :value => @shipping_fee %>
    <%= f.hidden_field :payment_method, :value => @order.payment_method %>

    <%= f.submit '注文を確定する', class: "btn btn-primary" %>
  <% end %>
</div>