<div class="container">
  <h1 class="mb-4">注文情報入力</h1>

  <%= form_with(model: @order, url: public_orders_confirm_path, local: true, class: "mb-4") do |f| %>
    <!-- ここにフォームの記述を行います -->

    
    <div class="form-group">
    <h5><%= f.label :payment_method, "支払い方法" %></h5>
      <div class="form-check">
        <%= f.radio_button :payment_method, "credit_card", class: "form-check-input" %>
        <%= f.label :payment_method, "クレジットカード", class: "form-check-label" %>
      </div>
      <div class="form-check">
        <%= f.radio_button :payment_method, "transfer", class: "form-check-input" %>
        <%= f.label :payment_method, "銀行振込", class: "form-check-label" %>
      </div>
    </div>

    <h5>お届け先</h5>
    <div class="form-group">
      <p>郵便番号: <%= current_customer.postal_code %></p>
      <p>住所: <%= current_customer.address %></p>
      <p>氏名: <%= current_customer.full_name %></p>
    </div>

    <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
  <% end %>
</div>
