<div class="container mt-5">
  <h2>商品詳細</h2>
  <div class="row">
    <div class="col-md-4">
      
      <% if @item.image.attached? %>
        <%= image_tag @item.image, class: "img-fluid rounded" %>
      <% else %>
        <p>画像がありません</p>
      <% end %>
    </div>
    <div class="col-md-8">
      <p><strong><%= @item.name %></strong></p>
      <p><%= @item.introduction %></p>
      <p> ¥ <%= (@item.price * 1.1).floor %> (税込)</p>
        <%= form_with(model: CartItem.new, url: public_cart_items_path, local: true) do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <div class="form-group">
            <%= f.label :quantity, "個数選択" %>
            <%= f.select :quantity, options_for_select([1, 2, 3, 4, 5]), class: "form-control" %>
            <%= f.submit "カートに入れる", class: "btn btn-primary ml-2" %>
          </div>
         
        <% end %>

      <% if flash[:alert] %>
        <p class="alert alert-danger"><%= flash[:alert] %></p>
      <% end %>
    </div>
  </div>
</div>
