<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav>
  <% if admin_signed_in? %>
    
    <%= link_to "商品一覧", items_path %>
    <%= link_to "会員一覧", customers_path %>
    <%= link_to "注文履歴一覧", orders_path %>
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
  <% elsif customer_signed_in? %>
    
    <%= link_to "マイページ", my_page_path %>
    <%= link_to "商品一覧", items_path %>
    <%= link_to "カート", cart_path %>
    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
  <% else %>
  
    <%= link_to "about", public_about_path %>
    <%= link_to "商品一覧", public_items_path %>
    <%= link_to "新規登録", new_customer_registration_path %>
    <%= link_to "ログイン", new_customer_session_path %>
    
  <% end %>
</nav>

    <%= yield %>
  </body>
</html>
