<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- BootstrapのCSSを読み込む -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Bootstrapのナビゲーションバーを使用 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- ロゴを左側に表示 -->
    <a class="navbar-brand" href="#">NaganoCake</a>

    <!-- メニュー項目を左側に寄せるための調整 -->
    <div class="navbar-collapse justify-content-start" id="navbarNav">
      <ul class="navbar-nav">
            <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "商品一覧", admin_items_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "会員一覧", admin_customers_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "注文履歴一覧", admin_root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% elsif customer_signed_in? %>
              <li class="nav-item">
                <%= link_to "マイページ", public_customer_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "商品一覧", public_items_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "カート", public_cart_items_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "about", public_about_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "商品一覧", public_items_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <!-- BootstrapのJavaScriptを読み込む -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
